body{
	font-family:Trebuchet MS;
	font-size:13px;
	color:#fff;
	font-weight: 100;
}

/* home page start*/
/* header start*/

.header-top{
	background:#575757;
}

.header-top p{
	color:#fff;
	padding:10px 0px 0px 0px;
}

.header-bottom{
	padding: 20px 0px 12px 0px;
	background: #4BB5C1;
}

.navbar-nav > li > a {
	color:#fff !important;
	font-size: 16px;
}

.navbar-nav > li > a:hover,.nav .open > a{
	background:none !important;
	color:#fff !important;
}

.dropdown-menu {
	background-color: #4BB5C1;
}

.dropdown-menu li a {
	color: #fff;
}

.navbar-nav .open .dropdown-menu > li > a:hover{
     background: none !important;
}

.design{
	color:#fd138e;
	font-size: 30px;
}

.spot{
	color: #fff;
	font-size: 25px
}

/* header end*/

/* banner start*/

.banner{
	margin: 120px 0px 0px 0px;
	background: #000;
}

.banner img{
	width: 100%;
}

/* banner end*/

/* section start*/

section{
	backgroun: #c2d3fd;
}

/* vision start*/

.vision{
	background: #575757;
	color: #fff;
}

.vision h3{
	line-height: 25px;
	color: #fff;
}

.vision p{
	font-size: 14px;
	padding: 0px 0px 10px 0px;
}

/* vision end*/

/* services start*/

.services a{
	display: block;
	border:1px solid #4BB5C1;
	border-radius: 3px;
	margin:90px 0px 40px 0px;
	padding:0px 30px 0px 30px;
}

.services a:hover{
	border:1px solid #000;
	color: #000 !important;
	text-decoration: none!important ;
}

.services .img-thumbnail{
	border-color: #4BB5C1 !important;
}

.services .img-thumbnail:hover{
	border-color: #000 !important;
}

.services img{
	margin:-50px auto 10px auto;
	display:block;
	position:relative;
	transition: all 1s;
}

.services img:hover{
	background: #000;
	transform: rotate(360deg);
	cursor: pointer;
}

.services h3{
	color: #4BB5C1;
}

.services p{
	color: #000;
}

.border{
	background: #4BB5C1;
	padding: 15px 0px 15px 0px;
	margin:0px 15px 20px 15px;
	color: #fff;
}

/* services end*/
/* section end*/

/* foote start*/

.footer-top{
	background:#4BB5C1;
	padding: 20px 0px 20px 0px;
}

.footer-top h3{
	color:#fff;
}

.footer-top .fa-chain,.footer-top .fa-group,.footer-top .fa-wordpress,.footer-top .fa-phone{
	font-size: 20px;
	margin: 0px 10px 0px 0px;
}

.quick-links,.what-we-do,.get-in-touch,.our-blogs{
	width: 100%;
	height: auto;
}

.quick-links ul li a,.our-blogs ul li a{
	color: #fff;
	text-decoration: none;
	margin-left: 0px;
	line-height: 25px;
}

.quick-links ul li a:hover,.our-blogs ul li a:hover{
	color: #000;
	text-decoration: none;
}

.what-we-do img{
	margin: 0px 10px 0px 0px;
}

.what-we-do p{
	color: #fff;
	padding: 0px 40px 0px 0px;
	text-align: justify;
}

.get-in-touch p{
	color: #fff;
	padding: 0px 50px 0px 0px;
	line-height: 23px;
}

.footer-bottom{
	color: #fff;
	background:#282828;
	padding: 13px 0px 0px 0px;
}

.spacing{
	padding-left: 20px;
}

.footer-bottom .fa{
	font-size: 14px;
	color: #fff;
}

/* foote end*/
/* home page end*/

/* about page start*/

.profile{
	border:1px solid #4bb4c1;
	border-radius: 3px;
	margin:90px 0px 40px 0px;
	padding:0px 30px 0px 30px;
	display:block;
}

.profile img{
	margin:-50px auto 10px auto;
	display:block;
	position:relative;
	transition: all 1s;
}

.profile h3{
	color: #4bb5c1;
}

.profile .img-thumbnail{
	border-color: #4bb5c1;
}

.profile p{
	padding: 20px 0px 20px 0px;
	color: #000;
	text-align: justify;
}

.profile img:hover{
	cursor: pointer;
	transform: rotate(360deg);
}

/* about page start*/

/* contact start*/

.address h3{
	color: #fff;
	font-size: 22px;
	line-height: 32px;
	margin: 0px 0px -15px 0px;
}

.address p{
	padding-top:14px;
	padding-bottom: 20px;
	color: #fff;
	line-height: 22px;
}

.col-md-4 .well{
	background-color: #4bb5c1 !important;
}

legend{
	color: #fff !important;
	line-height:40px;
}

.btn-active{
	background: #fff !important;
	color: #4bb5c1!important;
}

#success{
	padding: 0px 0px 20px 0px;
}

.google-map{
	margin: 0px 0px 30px 0px;
}

/* contact end*/

/* tab screen start*/

@media (min-width:601px) and (max-width:980px){

	.get-in-touch{
		margin: -115px 0px 0px 0px;
	}

	.our-blogs{
		margin: 80px 0px 0px 0px;
	}

}

/* tab screen start*/

/* mobile screen start*/

@media (min-width:0px) and (max-width:600px){

	nav{
		position: static !important;
	}

	.header-top p{
		display: block;
		margin: 3px auto;
		text-align: center;
		padding: 0;
	}

	.banner{
		margin: -30px 0px 0px 0px;
	}

	.get-in-touch{
		margin: 0px 0px 0px 0px;
	}

	.our-blogs h3{
		padding: 0px 0px 0px 0px;
	}

}
/* mobile screen end*/


/* back to top start */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #282828 url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
	border-radius: 100%;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
	outline: none;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
	outline: none;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* back to top end */
